@model MangalWebProject.Models.PenaltySlabViewModel
@{
    ViewBag.Title = "ShowPenaltySlab";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" />

@using (Ajax.BeginForm("", "", new AjaxOptions { }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID, new { @id = "ItemID" })
    @Html.HiddenFor(m => m.EditID, new { @EditId = "HiddenEditID" })
    @Html.HiddenFor(m => m.EditID)
    <header id="topbar" class="affix">
        <div class="col-md-5 col-sm-4 col-xs-12">
            <div class="topbar-left">
                <h4>Penalty Slab Master</h4>
            </div><!--end of topbar-left-->
        </div><!--end of col-md-5-->
        <div class="col-md-7 col-sm-8 col-xs-12">
            <div class="topbar-right" id="headerbutton">
                <button href="#editModal" id="btn_edit" onclick="return ShowEditTableList();" type="button" class="@TempData["btn_editclass"]" data-toggle="modal"><span class="fa fa-pencil pr5"></span> <span class="hidden-xs">Edit</span></button>
                <button type="submit" id="btn_save" class="@TempData["btn_saveclass"]"><span class="fa fa-save pr5"></span> <span class="hidden-xs">Save</span></button>
                <button type="button" id="btnDelete" class="@TempData["btn_deleteclass"]"><span class="fa fa-trash pr5"></span> <span class="hidden-xs">Delete</span></button>
                <button href="#viewModal" id="btn_view" onclick="return ShowViewTableList();" class="@TempData["btn_viewclass"]"
                        type="button" data-toggle="modal">
                    <span class="fa fa-eye pr5"></span> <span class="hidden-xs">View</span>
                </button>
                <a href="@Html.Raw(@Url.Action("PenaltySlab", "PenaltySlab"))" type="button" data-toggle="modal" class="btn btn-alert btn-md light fw600 ml10"><span class="fa fa-close pr5"></span><span class="hidden-xs">Cancel</span></a>
            </div><!--end of topbar-right-->

        </div><!--end of col-md-7-->
    </header>

    <section id="content" class="animated fadeIn">
        <!-- Start: Topbar -->
        <!-- End: Topbar -->
        <!-- Begin: Content -->
        <!-- Dashboard Tiles -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel1 panel-primary">
                    <div class="admin-form">
                        <div class="panel-body">
                            <div class="section row mbn">
                                <div class="form-horizontal">
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-2 col-sm-3 col-xs-12 control-label">Ref Id</label>
                                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                                                <span class="text-danger" id="CustomErr"> </span>
                                                <span class="text-danger" id="CustomErrr"> </span>
                                                @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control", @placeholder = "Source ID", @disabled = true } })
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-2 col-sm-3 col-xs-12 control-label">Date Wef<span class="text-danger"> * </span></label>
                                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                                                @Html.EditorFor(model => model.Datewef, new { htmlAttributes = new { @class = "form-control", @placeholder = "Date Wef",@autocomplete="Off"} })
                                                @*@Html.ValidationMessageFor(model => model.Datewef, "", new { @class = "text-danger" })*@
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-2 col-sm-3 col-xs-12 control-label">Penalty<span class="text-danger"> * </span></label>
                                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                                                @Html.EditorFor(model => model.PenaltyAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Penalty",@maxlength="4", @onkeypress = "return event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)" } })
                                                @Html.ValidationMessageFor(model => model.PenaltyAmount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-2 col-sm-3 col-xs-12 control-label">Account Head<span class="text-danger"> * </span></label>
                                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                                                <div class="section">
                                                    <label class="field select">
                                                        @Html.DropDownListFor(m => m.AccountHead, (SelectList)ViewBag.AccountHeadList, "--Select Account Head--", htmlAttributes: new { @class = "form-control" })
                                                        <span class="text-danger small">@Html.ValidationMessageFor(m => m.AccountHead)</span>
                                                        <i class="arrow"></i>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <small style="float:right"><span class="text-danger">* </span>indicates compulsary fields</small>
    </section>
                                                            }
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@section javascriptsection{
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
    @*<script src="~/Scripts/jquery.validate.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Datewef").datepicker({ dateFormat: 'dd/mm/yy', changeMonth: true, changeYear: true });
        });

        //$("#Penalty").keypress(function (e) {
        //    //if the letter is not digit then display error and don't type anything
        //    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
        //        //display error message
        //        e.preventDefault();
        //        //$("#errmsg").html("Only Number field allow").show().fadeOut("slow");
        //        return false;
        //    }
        //});

        $("#btn_save").click(function () {
            SavePenaltySlab();
        });

        function SavePenaltySlab() {
            debugger;
            var EffectiveDate = $("#Datewef").val();
            if (EffectiveDate == "") {
                $("#CustomErrr").text("Please Enter Date wef");
                $("#Datewef").focus();
                return;
            }
            var PenaltyAmount = $("#PenaltyAmount").val();
            if (PenaltyAmount == "0.00") {
                $("#CustomErrr").text("Please Enter Penalty Amount");
                $("#PenaltyAmount").focus();
                return;
            }

            var AccountHead = $("#AccountHead").val();
            if (AccountHead == "") {
                $("#CustomErrr").text("Please Select Account Head");
                $("#AccountHead").focus();
                return;
            }

            $("#btn_save").prop("disabled", true);
            var PenaltyViewModel = {};

            PenaltyViewModel.ID = $('#ItemID').val();
            PenaltyViewModel.EditID = $('#EditID').val();
            PenaltyViewModel.Datewef = $('#Datewef').val();
            PenaltyViewModel.PenaltyAmount = $('#PenaltyAmount').val();
            PenaltyViewModel.AccountHead = $('#AccountHead').val();

            $.ajax({
                type: "POST",
                url: "/PenaltySlab/Insert",
                data: JSON.stringify(PenaltyViewModel),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    if (r == 1) {
                        OnSuccess("Success");
                    }
                    else {
                        OnSuccess("Success");
                    }
                    $("#btn_save").prop("disabled", false);
                }
            });
        }
        function ShowEditTableList() {
            $('#divviewfilldata').empty();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetPenaltySlabTable", "PenaltySlab")',
                dataType: "html",
                data: { Operation: "Edit" },
                success: function (data) {
                    $('#diveditfilldata').empty();
                    $('#diveditfilldata').html(data);
                    $('#example').dataTable();
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }

        function ShowViewTableList() {
            $('#diveditfilldata').empty();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetPenaltySlabTable", "PenaltySlab")',
                dataType: "html",
                data: { Operation: "View" },
                success: function (data) {
                    $('#divviewfilldata').empty();
                    $('#divviewfilldata').html(data);
                    $('#example').dataTable();
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }

        var urlRedirect = '@Html.Raw(@Url.Action("PenaltySlab", "PenaltySlab"))';
        function OnSuccess(response) {
            $("#saveModal").modal('show');
            $(document).click(function () {
                window.location.href = urlRedirect;
            });
        }

        function OnFailure(response) {
            alert("Error occured.");
        }

        $(function () {
            var url = '@Html.Raw(@Url.Action("Delete", "PenaltySlab"))';
            $("#btnDelete").click(function () {
                $("#deleteModal").modal('show');
            });
            $("#btnDeleteConfirm").click(function () {
                $.ajax({
                    type: "POST",
                    url: url,
                    data: '{id: "' + $("#ItemID").val() + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data != "") {
                            $("#CustomErr").text(data);
                            return false;
                        }
                        else {
                            $("#CustomErr").empty();
                            $("#DeleteSuccessModal").modal('show');

                            $(document).click(function () {
                                window.location.href = urlRedirect;
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
            });
        });
    </script>
}

