@{
<aside id="sidebar_left" class="nano nano-primary  affix has-scrollbar sidebar-light sidebar-light1">
    <div class="nano-content">
        <!-- sidebar menu -->
        <ul class="nav sidebar-menu">
            <!--<li class="sidebar-label pt20">Menu</li>-->
                <li class="active">
                    <div class="navbar">
                        @Html.ActionLink("State", "State", "State")<br/>
                        @Html.ActionLink("City", "City", "City")<br />
                        @Html.ActionLink("Zone", "Zone", "Zone")<br />
                        @Html.ActionLink("Pincode", "Pincode", "Pincode")<br />
                        @Html.ActionLink("Source of Application", "SourceApplication", "SourceofApplication")<br />
                        @Html.ActionLink("Document", "Document", "Document")<br />
                        @Html.ActionLink("Ornament", "Ornament", "Ornament")<br />
                        @Html.ActionLink("Reason", "Reason", "Reason")<br />
                        @Html.ActionLink("Audit Checklist", "Auditchecklist", "AuditCheckList")<br />
                        @Html.ActionLink("GST", "GST", "GST")<br />
                        @Html.ActionLink("Charge", "Charge", "Charge")<br />
                        @Html.ActionLink("Penalty", "PenaltySlab", "PenaltySlab")<br />
                        @Html.ActionLink("Scheme", "Scheme", "Scheme")<br />
                        @Html.ActionLink("Product Rate", "ProductRate", "ProductRate")<br />
                    </div>
                </li>
        </ul>
        <div class="sidebar-toggle-mini">
            <a href="#">
                <span class="fa fa-sign-out"></span>
            </a>
        </div>
    </div>
</aside>
}
